<tr class="table__row">
  <td class="table__left-cell">
    <%= "FB" + "'00#{flight.id.to_s}"[-3..-1] %>
  </td>
  <td>
    <%= flight.departure_airport.code %>
  </td>
  <td>
    <%= flight.arrival_airport.code %>
  </td>
  <td>
    <%= flight.start_date.strftime("%F") %>
  </td>
  <td>
    <%= to_hrs_mins(flight.flight_duration) %>
  </td>
  <td>
    <%= flight.seats_avail %>
  </td>
  <td class="table__right-cell">
    <input type="radio" id="<%= dom_id(flight) %>" name="flight_id" value="<%= flight.id %>" class="query-form__radio-button">
  </td>
</tr>
