<tr class="table__row">
  <td class="table__left-cell">
    <%= flight.flight_number %>
  </td>
  <td>
    <%= flight.departure_airport.location %><br>
    <%= flight.departure_airport.code %>
  </td>
  <td>
    <%= flight.arrival_airport.location %><br>
    <%= flight.arrival_airport.code %>
  </td>
  <td>
    <%= flight.start_date.strftime("%F") %><br>
    <span class='table-flight-start_time'><%= flight.start_time.strftime("@ %I:%M%p") %></span>
  </td>
  <td>
    <%= convert_minutes_to_hrs_mins(flight.flight_duration) %>
  </td>
  <td>
    <%= flight.seats_avail %>
  </td>
  <td class="table__right-cell">
    <input type="radio" id="<%= dom_id(flight) %>" name="flight_id" value="<%= flight.id %>" class="query-form__radio-button">
  </td>
</tr>
