
	<tr class="table__row">
		<td class="table__data">
			<%= flight.departure_airport.code %>
		</td>
		<td class="table__data">
			<%= flight.arrival_airport.code %>
		</td>
		<td class="table__data">
			<%# delete me %>
			<%#= [rand(3..12), rand(1..45), ].sample %>
			<%= flight.seats_avail %>
		</td>
		<td class="table__data">
			<%= flight.start.strftime("%F") %>
		</td>
		<td class="table__data">
			<%# delete me %>
			<%#= rand(1..7).to_s + "h" + rand(1..59).to_s + "m" %>
			<%= flight.flight_duration %>
		</td>
		<td class="table__data">
			<input type="radio" id="" name="selection" value="1">
		</td>

	</tr>