
	<tr class="table__row">
		<td class="table__data">
			<%= flight.departure_airport.code %>
		</td>
		<td class="table__data">
			<%= flight.arrival_airport.code %>
		</td>
		<td class="table__data">
			<%= flight.seats_avail %>
		</td>
		<td class="table__data">
			<%= flight.start.strftime("%F") %>
		</td>
		<td class="table__data">
			<%= flight.flight_duration %>
		</td>
		<td class="table__data">
			<input type="radio" id="" name="selection" value="1">
		</td>
	</tr>