<tr class="table__row">
  <td class="table__left-cell">
    <%= "FB" + "'00#{flight.id.to_s}"[-3..-1] %>
  </td>
	<td>
    <%= flight.departure_airport.code %>
  </td>
  <td>
    <%= flight.arrival_airport.code %>
  </td>
  <td>
    <%= flight.seats_avail %>
  </td>
  <td>
    <%= flight.start.strftime("%F") %>
  </td>
  <td>
    <%= human_readable(flight.flight_duration) %>
  </td>

    <td class="table__right-cell">
    <input type="radio" id="" name="selection" value="1">
  </td>
</tr>
