<%= render "ribbon" %>
<%= render "header" %>

<div class="page-container">

  <div class="container">
    <form action="/flights" accept-charset="UTF-8" method="get" class="form">
      <input type="hidden" name="authenticity_token" type="<%= form_authenticity_token %>">
      <%# List of ALL departure airports %>
      <div class="form__item">
        <span>Depart: </span>
        <select name="departure_airport_id" id="departure_airport_id">
          <% @airports.each do |airport| %>
            <option value="<%= airport.id %>"><%= airport.code %></option>
          <% end %>
        </select>
      </div>
      <%# List of ALL arrival airports %>
      <div class="form__item">
        <span>Arrive: </span>
        <select name="arrival_airport_id" id="arrival_airport_id">
          <% @airports.each do |airport| %>
            <option value="<%= airport.id %>"><%= airport.code %></option>
          <% end %>
        </select>
      </div>
      <%# No. of passengers (1-4) %>
      <div class="form__item">
        <span># Travelers</span>
        <select name="num_passengers" id="num_passengers">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <%# Flight date %>


			<%# Submit %>
      <input type="submit" name="Commit" value="Search Flights" class="btn">
    </form>
  </div>
</div>
