<%= render "ribbon" %>
<%= render "header" %>
<div class="page-container">
  <div class="container">
    <form action="/flights" accept-charset="UTF-8" method="get" class="card">
      <!--input type="hidden" name="authenticity_token" type="<%= form_authenticity_token %>"-->
      <%# departure_airport %>
      <div class="form__item">
        <span>Depart: </span>
        <select name="departure_code" id="not_used" class="form__select">
          <% @airports.each do |airport| %>
            <option value="<%= airport.code %>"><%= airport.code %></option>
          <% end %>
        </select>
      </div>
      <%# arrival_airport %>
      <div class="form__item">
        <span>Arrive: </span>
        <select name="arrival_code" id="not_used" class="form__select">
          <% @airports.each do |airport| %>
            <option value="<%= airport.code %>"><%= airport.code %></option>
          <% end %>
        </select>
      </div>
      <%# num_tickets %>
      <div class="form__item">
        <span># Travelers</span>
        <select name="num_tickets" id="" class="form__select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <%# Flight date %>
      <input type="date" name="date" id="" value="<%= Date.today %>" min="<%= Date.today %>" max="<%= Date.today + 30 %>">
      <%# Submit %>
      <input type="submit" name="" value="Search Flights" class="btn">
    </form>

    <h4 class="matches">99999 flights matched:</h4>

    <table class="table">
      <thead>
        <tr class="table__head">
          <th>Depart</th>
          <th>Arrive</th>
          <th>Seats</th>
          <th>Date</th>
        </tr>
      </thead>

    <tbody class="table__body">
      <%= render @flights %>
    </tbody>
      
      
    </table>
  </div>
</div>

<%= render "footer" %>
