<main class="main">
  <div class="container">
    <h2>ONE-WAY TRIP SEARCH</h2>
    <form action="/flights" accept-charset="UTF-8" method="get" class="card">
      <div class="query-form__item">
        <span>Depart: </span>
        <select name="departure_code" id="departure_code" class="query-form__select">
          <option>ANY</option>
          <% @airport_codes.each do |airport_code| %>
            <option value="<%= airport_code %>" 
              <%= "selected" if @search_params[:departure_code]  == airport_code %>
              >
              <%= airport_code %>
            </option>
          <% end %>
        </select>
      </div>
      <div class="query-form__item">
        <span>Arrive: </span>
        <select name="arrival_code" id="arrival_code" class="query-form__select">
          <option>ANY</option>
          <% @airport_codes.each do |airport_code| %>
            <option value="<%= airport_code %>"
              <%= "selected" if @search_params[:arrival_code]  == airport_code %>
              >
              <%= airport_code %>
            </option>
          <% end %>
        </select>
      </div>
      <div class="query-form__item">
        <span># Travelers</span>
        <select name="num_tickets" id="num_tickets" class="query-form__select">
          <% 4.times do |index| %>
            <option value="<%= index+1 %>"
              <%= "selected" if @search_params[:num_tickets]  == (index+1).to_s %>
              >
              <%= index+1 %>
            </option>
          <% end %>
        </select>
      </div>
      <div class="query-form__item">
        <span>Depart Date</span>
        <select name="start_date" id="" class="query-form__select">
          <option>ANY</option>
          <% @flight_dates.each do |flight_date| %>
            <option value="<%= flight_date %>"
              <%= "selected" if @search_params[:start_date]  == flight_date.to_s %>
              >
              <%= flight_date.strftime('%B, %d, %Y') %></option>
          <% end %>
        </select>
      </div>
      <input type="submit" name="" value="Search Flights" class="btn">
    </form>
    <% if @query_results %>
      <h3 class="matched"><%= pluralize(@query_results.size, 'flight') + ' matched:' %></h3>
    <% end %>
    <% if @query_results && @query_results.none? %>
      <h3 class="no_matches">No flights matched your criteria. Please try again.</h3>
    <% end %>
    <% if @query_results && @query_results.any? %>
      <form action="/bookings/new" accept-charset="UTF-8" method="get" class="table-form">
        <% if @query_results.count > 17 %>
          <input type="submit" value="Continue" class="btn btn--small"/>
        <% end %>
        <table class="table">
          <thead>
            <tr class="table__row table__header">
              <th class="table__left-cell"><%= sortable "id", "Flight No." %></th>
              <th><%= sortable "departure_code", "Departs From" %></th>
              <th><%= sortable "arrival_code", "Arrives At" %></th>
              <th><%= sortable "start_date", "Flight Date" %></th>
              <th><%= sortable "flight_duration", "Flight Dur." %></th>
              <th><%= sortable "seats_avail", "Seats Avail." %></th>
              <th class="table__right-cell">Select</th>
            </tr>
          </thead>
          <tbody>
            <%= render @query_results if @query_results.is_a?(ActiveRecord::Relation) %>
          </tbody>
        </table>
        <input type="hidden" name="num_tickets" value="<%= search_params[:num_tickets] %>">
        <input type="submit" value="Continue" class="btn btn--small btn--right">
      </form>
    <% end %>
  </div>
</main>
