
<main class="main">
  <div class="container container--small">
    <form 
      action="/bookings" 
      accept-charset="UTF-8" 
      method="post" class="card card--special"

      <%# test %>
      data-controller="add-passenger"
      data-add-passenger-target="formContainer"

      >
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" autocomplete="off">
      <%= render "errors", active_record_object: @booking %>
      <h1>Continue Booking Trip</h1>
      <h3>Please enter passenger information: </h3>
      <div class="booking-form__details-container">
        <h2>Passenger #1</h2>
        <div class="booking-form__details-content">
          <input type="text" name="booking[passengers_attributes][][name]" 
                    id=""
                    class="booking-form__input"
                    value=""
                    required >
          <label for="">Name</label>
        </div>
        <div class="booking-form__details-content">
          <input type="email" name="booking[passengers_attributes][][email]" 
                    id=""
                    class="booking-form__input"
                    value=""
                    required >
          <label for="">Email</label>
        </div>
      </div>
      <%# Add a passenger %>
      <div
          data-add-passenger-target="childElement"
          class="booking-form__passenger-buttons-container"
        >
        <button
          type="button"
          data-action="add-passenger#addOnePassenger"
          class="btn btn--x-small btn--green-color"
          >
          Add a Passenger
        </button>
        <button
          type="button"
          data-action="add-passenger#removeOnePassenger"
          class="btn btn--x-small btn--grey-color"
          >
          Remove a Passenger
        </button>
      </div>
      <template 
        data-add-passenger-target="template"
        >
        <div 
          class="booking-form__details-container" 
          data-add-passenger-target="addedTemplate"
          >
          <h2 id="passenger-title">Passenger #1</h2>
          <div class="booking-form__details-content">
            <input type="text" name="booking[passengers_attributes][][name]" 
                  id=""
                  class="booking-form__input"
                  value=""
                  required >
            <label for="">Name</label>
          </div>
          <div class="booking-form__details-content">
            <input type="email" name="booking[passengers_attributes][][email]" 
                  id=""
                  class="booking-form__input"
                  value=""
                  required >
            <label for="">Email</label>
          </div>
        </div>
      </template>
      <%# End of add a passenger %>
      <input type="hidden" name="booking[num_tickets]" value="<%= @num_tickets %>">
      <input type="hidden" name="booking[flight_id]" value="<%= @flight.id %>">
      <div class="booking-form__details-container">
        <h2>Booking Details</h2>
        <div class="booking-form__details-content">
          <h3>Number of tickets requested:</h3>
          <span data-add-passenger-target="numTickets">&nbsp;&nbsp;<%= pluralize(@num_tickets, 'ticket')  %></span>
          <h3>Departure Time & Date:</h3>
          <span>&nbsp;&nbsp;<%= "#{@flight.start_date.strftime('%B, %d, %Y')}" %></span>
          <span class='booking-start_time'>&nbsp;&nbsp;<%= "@ #{@flight.start_time.strftime('%I:%M%p')}" %></span>
          <h3>Flight Number:</h3>
          <span>&nbsp;&nbsp;<%= @flight.flight_number %></span>
          <h3>Departs from:</h3>
          <span>&nbsp;&nbsp;<%= "#{@flight.departure_airport.location} (#{@flight.departure_code})" %></span>
          <h3>Arrives at:</h3>
          <span>&nbsp;&nbsp;<%= "#{@flight.arrival_airport.location} (#{@flight.arrival_code})" %></span>
          <h3>Flight Duration:</h3>
          <span>&nbsp;&nbsp;<%= convert_total_mins_to_hours_and_mins(@flight.flight_duration) %></span>
        </div>
      </div>
      <input type="submit" value="Book Flight!" class="btn">
    </form>
  </div>
</main>
