<main class="main">
  <div class="container container--small">
    <form action="/bookings" accept-charset="UTF-8" method="post" class="card card--special">
      <%= render "errors", active_record_object: @booking %>
      <h1>New Flight Booking</h1>
      <div class="booking-form__details-container">
        <h2>Flight Details</h2>
        <div class="booking-form__details-content">
          <h3>Number of tickets requested:</h3>
          <span><%= pluralize(@num_tickets, 'ticket')  %></span>
          <h3>Departure Date:</h3>
          <span><%= @flight.start.strftime('%B, %d, %Y') %></span>
          <h3>Departs from:</h3>
          <span><%= @flight.departure_code %></span>
          <h3>Arrives at:</h3>
          <span><%= @flight.arrival_code %></span>
          <h3>Flight Duration:</h3>
          <span><%= to_hrs_mins(@flight.flight_duration) %></span>
        </div>
      </div>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" autocomplete="off">
      <% @num_tickets.to_i.times do |num| %>
        <div class="booking-form__details-container">
        <h2>Passenger #<%= num + 1 %> Data:</h2>
          <div class="booking-form__details-content">

            <input type="text" name="booking[passengers_attributes][<%= num %>][name]" id="booking_passengers_attributes_<%= num %>_name" class="booking-form__input" />
            <label for="booking_passengers_attributes_<%= num %>_name">Name</label>
          
          </div>
          <div class="booking-form__details-content">
          
            <input type="text" email="booking[passengers_attributes][<%= num %>][email]" id="booking_passengers_attributes_<%= num %>_email" class="booking-form__input" />
            <label for="booking_passengers_attributes_<%= num %>_email">Email</label>
          
          </div>
        </div>
      <% end %>
      <input type="hidden" name="booking[num_tickets]" value="<%= params[:num_tickets] %>">
      <input type="hidden" name="booking[flight_id]" value="<%= params[:flight_id] %>">
      <input type="submit" value="Book Flight!" class="btn">
    </form>
  </div>
</main>
