<main class="main">
  <h2>Your trip has been booked!</h2>
  <div class="card card--special">
    <h1>Here is your flight and ticket information:</h1>
    <div class="booking-form__details-container">
      <h2>Passenger Information</h2>
      <div class="booking-form__details-content">
        <% @booking.passengers.each_with_index do |passenger, index| %>
          <div class="passenger-number">Passenger #<%= index + 1 %></div>
          <div class="booking-form__details-container">
            <p>Name: <strong><%= passenger.name %></strong></p>
            <p>Email: <strong><%= passenger.email %></strong></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="booking-form__details-container">
      <h2>Flight Details</h2>
      <div class="booking-form__details-content">
        <h3>Number of tickets purchased:</h3>
        <span>&nbsp;&nbsp;<%= pluralize(@booking.passengers.count, 'ticket')  %></span>
          <h3>Departure Time & Date:</h3>
          <span>&nbsp;&nbsp;<%= "#{@booking.flight.start_date.strftime('%B, %d, %Y')}" %></span>
          <span class='booking-start_time'>&nbsp;&nbsp;<%= "@ #{@booking.flight.start_time.strftime('%I:%M%p')}" %></span>
          <h3>Flight Number:</h3>
          <span>&nbsp;&nbsp;<%= @booking.flight.flight_number %></span>
          <h3>Departs from:</h3>
          <span>&nbsp;&nbsp;<%= "#{@booking.flight.departure_airport.location} (#{@booking.flight.departure_code})" %></span>
          <h3>Arrives at:</h3>
          <span>&nbsp;&nbsp;<%= "#{@booking.flight.arrival_airport.location} (#{@booking.flight.arrival_code})" %></span>
          <h3>Flight Duration:</h3>
          <span>&nbsp;&nbsp;<%= convert_total_mins_to_hours_and_mins(@booking.flight.flight_duration) %></span>
      </div>
    </div>
  </div>
</main>
